<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Eleitor</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome."><br>
        <label for="titulo">Titulo</label>
        <input type="number" name="titulo" id="titulo" required placeholder="Digite seu Titulo de Eleitor."><br>
        <label for="cpf">cpf</label>
        <input type="number" name="cpf" id="cpf" required placeholder="Digite o seu Cpf."><br>
        <label for="filiacao">Filiação</label>
        <input type="text" name="filiacao" id="filiacao" required placeholder="Filiação:"><br> 
        <label for="end">Endereço</label>
        <input type="text" name="text" id="text" required placeholder="Digite o seu Endereço."><br>
        <label for="datanasc">Data de Nascimento</label>
        <input type="date" name="datanasc" id="datanasc" required placeholder="Digite a sua data de Nascimento:"><br>
        
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>