<%-include('cabecalho.ejs')%>
<tittle>Adicionar Local de Votação<tittle>
    <style>
            form {
                margin: 20px;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #0f2f99;
                width: 300px;
            }
        
            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }
        
            input[type="text"],
            input[type="number"],
            input[type="date"],
            input[type="submit"] {
                margin-bottom: 10px;
                width: calc(100% - 12px);
                padding: 6px;
                border: 1px solid #ccc;
                border-radius: 3px;
                box-sizing: border-box;
            }
        
            input[type="submit"] {
                background-color: #3c43a0;
                color: white;
                cursor: pointer;
            }
        </style>
<form method="post">
    <label for="secao">Seção</label>
    <input type="number" name="secao" id="secao" required placeholder="Digite o Número da Sua Seção."><br>
    <label for="ende">Endereço de Votação</label>
    <input type="text" name="ende" id="ende" required placeholder="Digite o Endereço do seu Local de Votação."><br>
    <label for="zona">Zona</label>
    <input type="number" name="zona" id="zona" required ="Digite a sua Zona de Votação"><br>
    
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>